@font-face {
  font-family: "JosefinSans";
  src: url("../../dist/fonts/JosefinSans-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "JosefinSans";
  src: url("../../dist/fonts/JosefinSans-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Aleo";
  src: url("../../dist/fonts/Aleo-Regular.woff");
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.header__background {
  width: 100vw;
  height: 100vh;
  background-image: url(../../dist/img/back1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.header__content {
  padding-top: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  font-family: JosefinSans;
  font-size: 48px;
  font-weight: bold;
  line-height: 0.54;
  letter-spacing: 4.8px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.header__subtitle {
  padding-top: 2vh;
  font-family: JosefinSans;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: 6.82px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 6.75vh;
}

.header__form {
  width: 45vw;
  height: 8vh;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
}

.header__scroll {
  margin-top: 16.2vh;
  font-family: JosefinSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: 2.8px;
  text-align: center;
  color: #ffffff;
}

.header__nav {
  background-color: #5474fd;
  padding: 0 8.64vw;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input {
  border: none;
  width: 66.6%;
  text-align: center;
  font-family: JosefinSans;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.86;
  letter-spacing: 2.8px;
  text-align: center;
  color: #999999;
}

.form__button {
  border: solid 2px #ffffff;
  background-color: #5474fd;
  height: 8vh;
  width: 33.3%;
  font-family: Aleo;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.86;
  letter-spacing: 1.4px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__search-text {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__search-icon {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 28px;
  padding-bottom: 28px;
}

.nav__title {
  font-family: JosefinSans;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.08;
  letter-spacing: 2.4px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50.66%;
  font-family: Aleo;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.86;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.choose-us {
  width: 100vw;
  background-image: url(../../dist/img/back2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  padding: 8.5vw 120px 8.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choose-us__content {
  width: 30vw;
}

.choose-us__photo {
  width: 19.5vw;
}

.choose-us__pic {
  display: block;
  max-width: 100%;
  height: auto;
}

.content__title {
  font-family: Aleo;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.72;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.content__text {
  font-family: JosefinSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 1.6px;
  text-align: left;
  color: #e8e8e8;
}

.webp .header__background { background-image: url(../../dist/img/back1.webp); }

.webp .choose-us { background-image: url(../../dist/img/back2.webp); }