@font-face {
  font-family: "JosefinSans";
  src: url("../../dist/fonts/JosefinSans-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "JosefinSans";
  src: url("../../dist/fonts/JosefinSans-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Aleo";
  src: url("../../dist/fonts/Aleo-Regular.woff");
  font-weight: 400;
}